---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="h-screen w-screen grid place-content-center">
		<h1 class="text-4xl text-green-600 text-center transition ease-in-out hover:rotate-[360deg] font-bold">Astro Template</h1>
		<ul class="list-none">
			<li class="text-lg text-center text-orange-400 font-semibold">Tailwindcss</li>
			<li class="text-lg text-center text-orange-400 font-semibold">Image</li>
			<li class="text-lg text-center text-orange-400 font-semibold">Prefetch</li>
			<li class="text-lg text-center text-orange-400 font-semibold">Sitemap</li>
			<li class="text-lg text-center text-orange-400 font-semibold">Compress</li>
			<li class="text-lg text-center text-orange-400 font-semibold">i18next</li>
		</ul>
	</div>
</Layout>
